@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
	Layout = "Layout.cshtml";
	string serverAddress = Model.isDebug ? "ws://localhost:55591/colorconquer" : "ws://hellojkw.com:55591/colorconquer";
}

<div class="playground" ng-app="app-color-conquer" ng-controller="controller-color-conquer">
	<div class="place form-inline" id="login">
		<label class="sr-only" for="userName">이름</label>
		<input type="text" id="userName" class="form-control" ng-model="userName" placeholder="이름"/>
		<button class="btn btn-success" id="login" ng-click="login(userName)">채널 입장</button>
	</div>
	<div class="place" id="channel">
		<div class="form-inline" id="new-room">
			<input type="text" class="form-control" id="new-room-name" placeholder="방 제목"/>
			<button class="btn btn-success" id="create-room">방 만들기</button>
		</div>
		<ul id="room-list">
			<li class="room" ng-repeat="room in roomList">
				<div class="room-name">{{room.roomName}}</div>
				<button class="btn btn-info btn-sm enter-room" ng-click="enterRoom(room.roomName)">참여!</button>
			</li>
		</ul>
	</div>
	<div class="place" id="room">
		<div class="col-md-8" id="room-left">
			<div id="game-board">
			</div>
		</div>
		<div class="col-md-4" id="room-right">
			<div class="row">
				<h3 class="room-name">{{roomName}}</h3>
				<button class="btn btn-xs btn-danger" ng-click="leaveRoom(roomName)">나가기</button>
			</div>
			<div class="row">
				<div class="col-xs-8">
					<input type="number" class="form-control" id="size" ng-model="size" placeholder="게임판의 크기" />
					<input type="number" class="form-control" id="countColor" ng-model="countColor" placeholder="게임의색 종류" />
				</div>
				<button class="btn btn-default col-xs-4" ng-click="startGame()">게임시작</button>
			</div>
			<div class="row">
			<ul id="user-list">
				<li class="user" ng-repeat="user in userList">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					{{user.userName}}
				</li>
			</ul>
			</div>
		</div>
	</div>
</div>
<div id="console">

</div>

@section Css
{
	<link href="/Static/css/gameColorConquer.css" rel="stylesheet" />
<style type="text/css">
	#console {
		position: fixed;
		top: 80px;
		left: 60%;
		width: 35%;
		z-index: -1;
	}

	.place {
		display: none;
	}
</style>
}

@section Javascript
{
<script type="text/javascript">
	$("nav.navbar").addClass("navbar-shrink");
	$("li#menu-games").addClass("active");

	var app = angular.module('app-color-conquer', []);
	app.controller('controller-color-conquer', function ($scope) {
		var changeUserPlace = function (place) {
			$('.place').css('display', 'none');
			$('#' + place).css('display', 'block');
		};

		$scope.login = function (userName) {
			if (userName == '') {
				showAlert('이름을 입력하세요.');
				$('input#userName').focus();
				return;
			}
			var message = {
				packetType: 'TryEnterChannel',
				userName: userName
			};
			sendMessage(message);
		}

		$scope.enterRoom = function (roomName) {
			var message = {
				packetType: 'TryEnterRoom',
				roomName: roomName
			};
			sendMessage(message);
		};

		$scope.leaveRoom = function (roomName) {
			var message = {
				packetType: 'TryLeaveRoom'
			};
			sendMessage(message);
		};

		$scope.startGame = function () {
			var message = {
				packetType: 'TryStartGame',
				size: $scope.size,
				countColor: $scope.countColor
			};
			sendMessage(message);
		};

		var ws = new WebSocket("@serverAddress");

		var Log = function (message) {
			var p = document.createElement('p');
			$(p).text(message);
			$('#console').prepend(p);
		};

		var sendMessage = function (obj) {
			var data = JSON.stringify(obj);
			Log('send: ' + data);
			ws.send(data);
		};

		ws.onopen = function (e) {
			changeUserPlace('login');
			$scope.login('User' + Math.round(Math.random() * 1000));
		};

		ws.onmessage = function (e) {
			Log('recv: ' + e.data);
			var obj = JSON.parse(e.data);
			processPacket(obj);
		};

		ws.onerror = function (e) {
			$('div.playground').css('display', 'none');
			$('div#console').hide();
			showAlert('준비중입니다.');
			Log('error: ' + e.message);
		};

		ws.onclose = function (e) {
			Log('close: ' + e.code);
		};

		$("#create-room").click(function () {
			var roomName = $('#new-room-name').val();
			var obj = {
				packetType: 'TryCreateRoom',
				roomName: roomName
			};
			sendMessage(obj);
		});

		var sendMessage = function (obj) {
			var data = JSON.stringify(obj);
			Log('send: ' + data);
			ws.send(data);
		};

		var processPacket = function (obj) {
			switch (obj.packetType) {
				case 'ResultEnterChannel':
					ResultEnterChannel(obj.data);
					break;
				case 'ResultRoomList':
					ResultRoomList(obj.data);
					break;
				case 'ResultEnterRoom':
					ResultEnterRoom(obj.data);
					break;
				case 'ResultLeaveRoom':
					ResultLeaveRoom(obj.data);
				case 'UserList':
					RecvUserList(obj.data);
					break;
				case 'ResultStartGame':
					ResultStartGame(obj.data);
					break;
			}
		};

		var RequestRoomList = function () {
			var obj = {
				packetType: 'RequestRoomList'
			};
			sendMessage(obj);
		};

		var ResultEnterChannel = function (data) {
			if (data.result == 'false') {
				showAlert('채널 입장에 실패하였습니다.')
				return;
			}
			changeUserPlace('channel');
			showAlert(data.userName + '님 안녕하세요!');
			RequestRoomList();
		};

		var ResultRoomList = function (data) {
			$scope.roomList = [];
			$.each(data, function (index, room) {
				$scope.roomList.push({ roomName: room.roomName });
			});
			$scope.$apply();
		};

		var ResultEnterRoom = function (data) {
			if (data.result == 'false') {
				showAlert('방 입장에 실패하였습니다.');
				return;
			}
			changeUserPlace('room');
			$scope.roomName = data.roomName;
			$scope.$apply();
			showAlert(data.roomName + '방에 입장하였습니다.');
		};

		var ResultLeaveRoom = function (data) {
			if (data.result == 'false') {
				showAlert('방 나가기에 실패하였습니다.');
				return;
			}
			ResultEnterChannel(data);
		};

		var RecvUserList = function (data) {
			$scope.userList = [];
			$.each(data, function (index, user) {
				$scope.userList.push({ userName: user.userName });
			});
			$scope.$apply();
		};

		var ResultStartGame = function (data) {
			if (data.result == 'false') {
				showAlert('게임 시작이 실패하였습니다.');
				return;
			}
			SetBoard(data.size, data.cellsColor);
			SetColor();
		};

		var SetBoard = function (size, cellsColor) {
			$('div#game-board .row').remove();
			for (var row = 0; row < size; row++) {
				var divRow = document.createElement('div');
				$(divRow).addClass('row');
				for (var col = 0; col < size; col++) {
					var cell = document.createElement('div');
					$(cell).addClass('cell').addClass(cellsColor[row][col]);
					$(divRow).append(cell);
				} // for col
				$('div#game-board').append(divRow);
			} // for row
		};


		var SetColor = function () {
			$('div#game-board div.A').css('background-color', '#DBB7EE');
			$('div#game-board div.B').css('background-color', '#F8CBAD');
			$('div#game-board div.C').css('background-color', '#FFE699');
			$('div#game-board div.D').css('background-color', '#C6E0B4');
			$('div#game-board div.E').css('background-color', '#FF9595');
			$('div#game-board div.F').css('background-color', '#DBDBDB');
		};
	});

	window.onbeforeunload = function () {
		//return "게임 중 페이지를 나오면 게임에서 패하게 됩니다.";
	};

	$(document).ready(function () {
	});
</script>
}

@section JavascriptRelease
{
}