@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
	Layout = "Layout.cshtml";
}

<div ng-app="test-app" ng-controller="test-controller">
	<div class="place form-inline" id="login">
		<label class="sr-only" for="userName">이름</label>
		<input type="text" id="userName" class="form-control" ng-model="userName" placeholder="이름"/>
		<button class="btn btn-success" id="login" ng-click="login(userName)">채널 입장</button>
	</div>
	<div class="place" id="channel">
		<div class="form-inline" id="new-room">
			<input type="text" class="form-control" id="new-room-name" placeholder="방 제목"/>
			<button class="btn btn-success" id="create-room">방 만들기</button>
		</div>
		<ul id="room-list">
			<li class="room" ng-repeat="room in roomList">
				<div class="room-name">{{room.RoomName}}</div>
				<button class="btn btn-info btn-sm enter-room" ng-click="enterRoom(room.RoomName)">참여!</button>
			</li>
		</ul>
	</div>
	<div class="place" id="room">
		<p class="room-name">{{RoomName}}</p>
	</div>
</div>
<div id="console">

</div>

@section Css
{
<style type="text/css">
	#console {
		position: fixed;
		top: 80px;
		left: 60%;
		z-index: -1;
	}

	.place {
		display: none;
	}
</style>
}

@section Javascript
{
<script type="text/javascript">
	$("nav.navbar").addClass("navbar-shrink");
	$("li#menu-games").addClass("active");

	var app = angular.module('test-app', []);
	app.controller('test-controller', function ($scope) {
		var changeUserPlace = function (place) {
			$('.place').css('display', 'none');
			$('#' + place).css('display', 'block');
		};

		$scope.login = function (userName) {
			if (userName == '') {
				showAlert('이름을 입력하세요.');
				$('input#userName').focus();
				return;
			}
			var message = {
				packetType: 'TryEnterChannel',
				UserName: userName
			};
			var data = JSON.stringify(message);
			Log('send: ' + data);
			ws.send(data);
		}

		$scope.enterRoom = function (roomName) {
			var message = {
				packetType: 'TryEnterRoom',
				RoomName: roomName
			};
			var data = JSON.stringify(message);
			Log('send: ' + data);
			ws.send(data);
		};

		var ws = new WebSocket("ws://localhost:55591/colorconquer");
		//var ws = new WebSocket("ws://hellojkw.com:55591/colorconquer");

		var Log = function (message) {
			var p = document.createElement('p');
			$(p).text(message);
			$('#console').prepend(p);
		};

		ws.onopen = function (e) {
			changeUserPlace('login');
			$scope.login('User' + Math.round(Math.random() * 1000));
		};

		ws.onmessage = function (e) {
			Log('recv: ' + e.data);
			var obj = JSON.parse(e.data);
			processPacket(obj);
		};

		ws.onerror = function (e) {
			Log('error: ' + e.message);
		};

		ws.onclose = function (e) {
			Log('close: ' + e.code);
		};

		$("#create-room").click(function () {
			var roomName = $('#new-room-name').val();
			var obj = {
				packetType: 'TryCreateRoom',
				RoomName: roomName
			};
			sendMessage(obj);
		});

		var sendMessage = function (obj) {
			var data = JSON.stringify(obj);
			ws.send(data);
		};

		var processPacket = function (obj) {
			switch (obj.packetType) {
				case 'ResultEnterChannel':
					ResultEnterChannel(obj.data);
					break;
				case 'ResultRoomList':
					ResultRoomList(obj.data);
					break;
				case 'ResultEnterRoom':
					ResultEnterRoom(obj.data);
					break;
			}
		};

		var RequestRoomList = function () {
			var obj = {
				packetType: 'RequestRoomList'
			};
			sendMessage(obj);
		};

		var ResultEnterChannel = function (data) {
			if (data.result == 'true') {
				changeUserPlace('channel');
				showAlert(data.UserName + '님 안녕하세요!');
				RequestRoomList();
			} else {
				showAlert('채널 입장에 실패하였습니다.')
			}
		};

		var ResultRoomList = function (data) {
			$scope.roomList = [];
			$.each(data, function (index, room) {
				$scope.roomList.push({ RoomName: room.RoomName });
			});
			$scope.$apply();
		};

		var ResultEnterRoom = function (data) {
			if (data.result == 'true') {
				changeUserPlace('room');
				$scope.RoomName = data.RoomName;
				$scope.$apply();
				showAlert(data.RoomName + '방에 입장하였습니다.');
			} else {
				showAlert('방 입장에 실패하였습니다.');
			}
		};
	});

	$(document).ready(function () {
	});
</script>
}

@section JavascriptRelease
{
}