@{
	Layout = "Layout.cshtml";
}

<div class="container" ng-app="app-diary" ng-controller="diary-controller">
	<h1>@Model.DiaryUserName 님의 일기장!</h1>
	<ul>
		<li ng-repeat="diary in diaryList">
			<span>{{diary.date}}</span>
			<p>
<pre style="max-width: 600px;">{{diary.text}}</pre>
			</p>
		</li>
	</ul>
</div>

@section Css
{
}

@section Javascript
{
<script type="text/javascript">
	$("nav.navbar").addClass("navbar-shrink");

	var app = angular.module('app-diary', []);
	var getScope = function () {
		return angular.element(document.querySelector('[ng-controller="diary-controller"]')).scope();
	}

	$.post('diary/get',
		{
			userId: '@Model.DiaryUserId',
			date: '20050717'
		},
		function (json) {
			var data = JSON.parse(json);
			var scope = getScope();
			data.map(function (diary) {
				scope.diaryList.push({ date: diary.Date, text: diary.Text });
			});
			scope.$apply();
		}
	);

	app.controller('diary-controller', function ($scope) {
		$scope.diaryList = new Array();
	});
</script>
}
