@{
	Layout = "Layout.cshtml";
}

<div class="container" ng-app="app-diary" ng-controller="diary-controller">
	<h1>님의 일기장!</h1>
	@*<ul>
		<li ng-repeat="diary in diaryList">
			<span>{{diary.date}}</span>
			<p>
<pre style="max-width: 600px;">{{diary.text}}</pre>
			</p>
		</li>
	</ul>*@
	@foreach (var diary in @Model.diaryList)
	{
	<span>@diary.Date</span>
<pre style="max-width: 600px;">@diary.Text</pre>
	}
</div>

@section Css
{
}

@section Javascript
{
<script type="text/javascript">
	$("nav.navbar").addClass("navbar-shrink");

	var app = angular.module('app-diary', []);
	var getScope = function () {
		return angular.element(document.querySelector('[ng-controller="diary-controller"]')).scope();
	}

	app.controller('diary-controller', function ($scope) {
		$scope.diaryList = new Array();
	});
</script>
}
