th.standing-pc, td.standing-pc {
	display: none;
}

.diff-rank {
	display: none;
}

@media(min-width:768px) {
	th.standing-pc, td.standing-pc
	{
		display: table-cell;
	}

	.diff-rank {
		display: none;
	}
}

/*::selection {
    text-shadow: none;
	background-color: #c8c8c8;
}*/
