@font-face {
    font-family: LotteMartDream;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/LotteMartDreamMedium.woff2) format('woff2'), url(../fonts/LotteMartDreamMedium.woff) format('woff');
}

body {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

div.main {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

div.main img {
    width: 100%;
}

body > div.content {
    background-color: #ffe8f3;
    opacity: 0.9;
}

p.thankyou {
    text-align: center;
    font-family: 'Gaegu', cursive;
    font-size: 2em;
    word-break: keep-all;
    padding: 3em 0em;
    margin-top: 100vh;
}

.content2 {
    width: 100%;
}

span {
    display: block;
}

.person-circle {
    border-radius: 50%;
    max-width: 15em;
    max-height: 15em;
    overflow: hidden;
}

.person-circle img {
    width: 100%;
}

@media screen and (min-width: 750px) {
    div.main {
        overflow: hidden;
    }

    div.main img {
        margin-top: -20%;
    }

    .mobile {
        display: none;
    }

    .thankyou {
        /*height: 100vh;*/
    }

    .content2 {
    }

    .content2 > div {

    }

    .content2 .background img {
        width: 100%;
    }

    .couple {
        font-family: LotteMartDream;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .couple > .person {
        display: inline-block;
        width: 32%;
    }

    .couple .person-inner {
        position: relative;
        /*top: -1em;*/
        max-width: 15em;
    }

    .couple div {
        margin-left: auto;
        margin-right: auto;
    }

    .my-name {
        font-size: 4em;
    }

    .parent-name {
        font-size: 1.6em;
    }

    .huge-amp {
        font-family: LotteMartDream,sans-serif;
        font-size: 10em;
        text-align: center;
        position: relative;
        top: -1em;
    }
}

@media screen and (max-width: 750px) {
    div.main {
        overflow: hidden;
        max-height: 100vh;
    }
    .pc {
        display: none;
    }
}